@model IEnumerable<QLCHTBDD_62131904.Models.BienTheSanPham>

@{
    ViewBag.Title = "Danh sách các biến thể của sản Phẩm";
    var grid = new WebGrid(source: Model, canPage: true, defaultSort: "SanPham.TenSP", rowsPerPage: 20);
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js");
}

<link href="~/Content/_page_index_projects.css" rel="stylesheet" />
<h2>Danh sách biến thể sản phẩm</h2>
<p class="text-left mb-3">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="gridContent">
    @grid.GetHtml(
        tableStyle: "table table-bordered table-striped",
        headerStyle: "table-header thead-light",
        alternatingRowStyle: "table-alternate-row",
        mode: WebGridPagerModes.Numeric,
        columns: grid.Columns(

            grid.Column("STT", format: item => grid.Rows.IndexOf(item) + 1 + (grid.PageIndex * grid.RowsPerPage), header: "STT"),
            //grid.Column("SanPham.MaSP", "Mã sản Phẩm", format: item => item.SanPham?.MaSP ?? "N/A"),
            grid.Column("SanPham.TenSP", "Tên sản Phẩm", format: item => item.SanPham?.TenSP ?? "N/A"),
            grid.Column("MauSac.TenMau", "Màu sản Phẩm", format: item => item.MauSac?.TenMau ?? "N/A"),
            grid.Column("RAM.DungLuong", "Dung lượng RAM", format: item => item.RAM?.DungLuong ?? "N/A"),
            grid.Column("ROM.DungLuong", "Dung lượng ROM", format: item => item.ROM?.DungLuong ?? "N/A"),
            grid.Column("SoLuong", "Số lượng", format: item => item.SoLuong ?? "N/A"),
            grid.Column("DonViTinh", "Đơn vị tính", format: item => item.DonViTinh ?? "N/A"),
            grid.Column("DonGia", "Đơn giá", format: item => item.DonGia ?? "N/A"),
            grid.Column("SKU", "SKU", format: item => item.SKU ?? "N/A"),
            grid.Column("TrangThaiSanPham.TenTrangThai", "Trạng thái sản phẩm", format: item => item.TrangThaiSanPham?.TenTrangThai ?? "N/A"),
            grid.Column("Chức năng", format: @<text>
                    <a href="@Url.Action("Edit", new { id = item.MaBT })" title="Cập nhật" class='btn btn-sm btn-warning'>Sửa</a>
                    <a href="@Url.Action("Details", new { id = item.MaBT })" title="Xem chi tiết" class='btn btn-sm btn-info'>Chi tiết</a>
                    @*<a href="@Url.Action("Delete", new { id = item.MaBT })" title="Xóa" class='btn btn-sm btn-danger'>Xóa</a>*@
            </text>)
)
)
</div>