@model QLCHTBDD_62131904.Models.ThongSoDienThoai

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}  

<h2>Thêm thông số sản phẩm</h2>
<link href="~/Content/_pages_thongsokithuat.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "ThongSoDienThoais_62131904", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "")

    <div class="form-container">
        <!-- Thông tin sản phẩm -->
        <div class="form-section">
            <h3>Thông tin sản phấm</h3>
            <div class="config-row">
                <div class="form-group">
                    @Html.LabelFor(model => model.MaSP, "Sản phẩm", new { @class = "form-label" })
                    @Html.DropDownList("MaSP", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="config-row">
                <div class="form-group">
                    @Html.LabelFor(model => model.MaPhienBanHDH, "Hệ điều hành", new { @class = "form-label" })
                    @Html.DropDownList("MaPhienBanHDH", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaPhienBanHDH, "", new { @class = "text-danger" })
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.DanhBa, "Danh bạ", new { @class = "form-label" })
                    Có @Html.RadioButtonFor(model => model.DanhBa, true, new { style = "margin-right: 10px;" })
                    Không @Html.RadioButtonFor(model => model.DanhBa, false)
                    @Html.ValidationMessageFor(model => model.DanhBa, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DenFlashCameraSau, "Đèn flash camera sau", new { @class = "form-label" })
                    Có @Html.RadioButtonFor(model => model.DenFlashCameraSau, true, new { style = "margin-right: 10px;" })
                    Không @Html.RadioButtonFor(model => model.DenFlashCameraSau, false)
                    @Html.ValidationMessageFor(model => model.DenFlashCameraSau, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaCongNgheManHinh, "Công nghệ màn hình", new { @class = "form-label" })
                    @Html.DropDownList("MaCongNgheManHinh", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaCongNgheManHinh, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaDoSang, "Độ sáng", new { @class = "form-label" })
                    @Html.DropDownList("MaDoSang", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaDoSang, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaLoaiKinh, "Loại kính", new { @class = "form-label" })
                    @Html.DropDownList("MaLoaiKinh", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaLoaiKinh, "", new { @class = "text-danger" })
                </div>  
                <div class="form-group">
                    @Html.LabelFor(model => model.MaLoaiPin, "Loại pin", new { @class = "form-label" })
                    @Html.DropDownList("MaLoaiPin", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaLoaiPin, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaHoTroSac, "Hỗ trợ sạc", new { @class = "form-label" })
                    @Html.DropDownList("MaHoTroSac", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaHoTroSac, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaChuanKhangBuiNuoc, "Chuẩn kháng bụi nước", new { @class = "form-label" })
                    @Html.DropDownList("MaChuanKhangBuiNuoc", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaChuanKhangBuiNuoc, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaTinhNangBaoMat, "Tính năng bảo mật", new { @class = "form-label" })
                    @Html.DropDownList("MaTinhNangBaoMat", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaTinhNangBaoMat, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaDinhDangGhiAm, "Định dạng ghi âm", new { @class = "form-label" })
                    @Html.DropDownList("MaDinhDangGhiAm", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaDinhDangGhiAm, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaMangDiDong, "Mạng di dộng", new { @class = "form-label" })
                    @Html.DropDownList("MaMangDiDong", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaMangDiDong, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaSIM, "Loại sim", new { @class = "form-label" })
                    @Html.DropDownList("MaSIM", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaSIM, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaBluetooth, "Bluetooth", new { @class = "form-label" })
                    @Html.DropDownList("MaBluetooth", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaBluetooth, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaCongKetNoiSac, "Cổng kết nối/sạc", new { @class = "form-label" })
                    @Html.DropDownList("MaCongKetNoiSac", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaCongKetNoiSac, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaJackTaiNghe, "Jack tai nghe", new { @class = "form-label" })
                    @Html.DropDownList("MaJackTaiNghe", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaJackTaiNghe, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaCongKetNoiKhac, "Cổng kết nối khác", new { @class = "form-label" })
                    @Html.DropDownList("MaCongKetNoiKhac", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaCongKetNoiKhac, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaThietKe, "Thiết kế", new { @class = "form-label" })
                    @Html.DropDownList("MaThietKe", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaThietKe, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaChatLieu, "Chất liệu", new { @class = "form-label" })
                    @Html.DropDownList("MaChatLieu", null, "Chọn", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaChatLieu, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ThoiDiemRaMat, "Thời điểm ra mắt", new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.ThoiDiemRaMat, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.ThoiDiemRaMat, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <!-- Nút hành động -->
        <div class="form-group form-group--actions">
            <button type="submit" class="btn btn-primary">Thêm thông số kĩ thuật cho sản phẩm</button>
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
