@model QLCHTBDD_62131904.ViewModels.SanPhamViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Thêm mới sản phẩm</h2>
<link href="~/Content/_pages_sanpham.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "SanPhams_62131904", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "")

    <div class="form-container">
        <!-- Thông tin sản phẩm -->
        <div class="form-section" id="product-info">
            <h3>Thông tin sản phẩm</h3>
            <div class="form-row">
                <div class="form-group">
                    @Html.LabelFor(model => model.TenHangSanXuat, "Hãng sản phẩm", new { @class = "form-label" })
                    @Html.DropDownList("MaHang", ViewBag.MaHang as SelectList, "Chọn Hãng", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TenHangSanXuat, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TenLoaiSanPham, "Loại sản phẩm", new { @class = "form-label" })
                    @Html.DropDownList("MaLSP", ViewBag.MaLSP as SelectList, "Chọn sản phẩm", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TenLoaiSanPham, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TenSP, "Tên sản phẩm", new { @class = "form-label" })
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên sản phẩm" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MoTa, "Mô tả", new { @class = "form-label" })
                @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", placeholder = "Nhập mô tả", rows = "3" })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <!-- Nút hành động -->
        <div class="form-group form-group--actions">
            <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

