@model IEnumerable<QLCHTBDD_62131904.Models.QuanTriHeThong>
@{
    ViewBag.Title = "Quản trị hệ thống";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "HoTen", rowsPerPage: 10);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js");
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    /*    title page*/
    h2 {
        font-weight: bold;
        color: #007BFF;
        text-align: center;
        margin: 20px 0;
    }

    /*    button add new*/
    .btn-primary {
        background-color: #007bff;
        border: none;
        font-weight: bold;
        color: #fff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    /*    table*/
    .table {
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: 20px auto;
        overflow: hidden;
    }

    .table-header.thead-light th {
        background-color: #343a40;
        color: #ffffff;
        text-align: center;
        padding: 10px;
    }

    .table td, .table th {
        vertical-align: middle;
        text-align: center;
        padding: 8px;
    }

    .table-hover tbody tr:hover {
        background-color: #e9ecef;
        cursor: pointer;
    }

    .thead-light th a {
        text-decoration: none;
    }

        .thead-light th a:hover {
            text-decoration: none;
        }


    /*    button actions*/
    .btn {
        font-weight: bold;
        text-shadow: none;
        border: none;
    }

    .btn-warning {
        background-color: #ffc107;
        color: #fff;
    }

    .btn-info {
        background-color: #17a2b8;
        color: #fff;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }

    .btn:hover {
        opacity: 0.8;
    }
</style>

<h2>Danh sách quản trị</h2>

<p class="text-left mb-3">
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<div id="gridContent">
    @grid.GetHtml(
        tableStyle: "table table-bordered table-striped",
        headerStyle: "table-header thead-light",
        alternatingRowStyle: "table-alternate-row",
        mode: WebGridPagerModes.Numeric,
         columns: grid.Columns(
                         grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("Email", "Email", format: item => item.Email),
            grid.Column("Admin", "Quyền", format: item => item.Admin == true ? "Admin" : "Nhân viên"),
            grid.Column("HoTen", "Họ tên", format: item => item.HoTen),
                    grid.Column("IsActive", "Trạng thái", format: item =>
                @Html.Raw(item.IsActive
                ? "<span class='text-success'>Đã kích hoạt</span>"
                : "<span class='text-danger'>Chưa kích hoạt</span>")),
            grid.Column("Chức năng", format: @<text>
                    <a href="@Url.Action("Edit", new { id = item.MaQT })" title="Cập nhật" class='btn btn-sm btn-warning'>Sửa</a>
                    <a href="@Url.Action("Details", new { id = item.MaQT })" title="Xem chi tiết" class='btn btn-sm btn-info'>Chi tiết</a>
                    <a href="@Url.Action("Delete", new { id = item.MaQT })" title="Xóa" class='btn btn-sm btn-danger'>Xóa</a>
            </text>))
)
</div>