@model QLCHTBDD_62131904.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "ConfirmResetPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    <h2>Đặt lại mật khẩu mới</h2>
    @using (Html.BeginForm("ConfirmResetPassword", "AccountCustomer_62131904", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Token)

        <div class="form-group">
            <label for="newPassword">Mật khẩu mới</label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu mới" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
    }
</div>

