<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Admin Panel</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/_styleAdmin.css" rel="stylesheet" />
</head>
<body>
    <div class="sidebar">
        @Html.ActionLink("Admin Panel", "Index", "SanPhams_62131904", null, new { @class = "navbar-brand text-center py-3" })
        @Html.ActionLink("Thông tin quản trị", "GetCurrentAdmin", "GetCurrentAdmin_62131904", null, new { @class = "a" })
        @Html.ActionLink("Quản trị hệ thống", "Index", "QuanTriHeThongs_62131904", null, new { @class = "a" })
        <button class="dropdown-btn">
            Quản lý sản phẩm
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @*@Html.ActionLink("Danh sách loại sản phấm", "Index", "LoaiSanPhams_62131904", null, new { @class = "a" })*@
            @Html.ActionLink("Danh sách sản phẩm", "Index", "SanPhams_62131904", null, new { @class = "a" })
            @Html.ActionLink("Danh sách biến thể sản phẩm", "Index", "BienTheSanPhams_62131904", null, new { @class = "a" })
            @Html.ActionLink("Thông số sản phẩm", "Index", "ThongSoDienThoais_62131904", null, new { @class = "a" })
            @Html.ActionLink("Thông số biến thể sản phẩm", "Index", "ThongSoBienTheDienThoais_62131904", null, new { @class = "a" })
            @Html.ActionLink("Hình ảnh biến thể của từng sản phẩm", "Index", "HinhAnhSanPhams_62131904", null, new { @class = "a" })
        </div>

        <button class="dropdown-btn">
            Quản lý tính năng camera
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Thông số camera", "Index", "ThongSoCameras_62131904", null, new { @class = "a" })
            @Html.ActionLink("Chi tiết độ phân giải camera", "Index", "ChiTietDoPhanGiaiCameras_62131904", null, new { @class = "a" })
            @Html.ActionLink("Chi tiết tính năng camera", "Index", "ChiTietTinhNangCameras_62131904", null, new { @class = "a" })
        </div>

        <button class="dropdown-btn">
            Quản lý tính năng quay phim
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Thông số quay phim", "Index", "ThongSoQuayPhims_62131904", null, new { @class = "a" })
        </div>

        <button class="dropdown-btn">
            Quản lý tiện ích
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Tính năng đặc biệt", "Index", "ThongTinTinhNangDacBietDienThoais_62131904", null, new { @class = "a" })
            @Html.ActionLink("Định dạng xem phim & nghe nhạc", "Index", "ThongTinDinhDangPhimVaNhacDienThoais_62131904", null, new { @class = "a" })
        </div>

        <button class="dropdown-btn">
            Quản lý kết nối
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            @Html.ActionLink("Wifi", "Index", "ThongTinWifiDienThoais_62131904", null, new { @class = "a" })
            @Html.ActionLink("Hệ thống định vị", "Index", "ThongTinHeThongDinhViDienThoais_62131904", null, new { @class = "a" })
        </div> 

        @Html.ActionLink("Khách hàng", "Index", "SanPhams_62131904", null, new { @class = "a" })
        @Html.ActionLink("Đơn hàng", "Index", "SanPhams_62131904", null, new { @class = "a" })
        @Html.ActionLink("Đăng xuất", "Logout", "QuanTriHeThongs_62131904", null, new { @class = "a" })
    </div>
    <div class="content">
        @RenderBody()
    </div>
    @*<footer class="text-center mt-5">
        <p>© @DateTime.Now.Year Admin Panel</p>
    </footer>*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JavaScript -->
    <script src="@Url.Content("~/Scripts/_styleAdmin.js")"></script>
</body>
</html>