@{
    // Tùy chỉnh ViewBag hoặc các đối tượng layout tại đây nếu cần.
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="Your Name">

    <title>@ViewBag.Title</title>

    <!-- Thêm CSS Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Thêm CSS tùy chỉnh cho admin -->
    <link href="~/Content/_styleApp.css" rel="stylesheet" />

    <!-- Thêm các CSS khác nếu cần -->
    @Styles.Render("~/Content/css")
</head>
<body style="margin: 0; padding: 0;">
    <!-- Banner -->
    <div id="banner">
        HỆ THỐNG CỬA HÀNG BÁN ĐIỆN THOẠI DI ĐỘNG
    </div>

    <!-- Menu -->
    <div id="menu">
        <div>
            @Html.ActionLink("Trang chủ", "../SanPhams_62131904/Index", new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("Sản phẩm", "../SanPhams_62131904/Index", new { @class = "a" })&nbsp;|&nbsp;
            @Html.ActionLink("Giỏ hàng", "../SanPhams_62131904/Index", new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("Login", "../QuanTriHeThongs_62131904/Login", new { @class = "a" })
        </div>
        <div>
            <p style="text-align: right;">@ViewBag.NguoiDung</p>
        </div>
    </div>

    <!-- Content -->
    <div id="content">
        @RenderBody()
    </div>

    <!-- Footer -->
    <div id="footer">
        Copyright &copy; @DateTime.Now.Year
    </div>

    <!-- Thêm JS jQuery, Popper.js và Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> <!-- Sử dụng jQuery đầy đủ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Thêm các script khác nếu cần -->
</body>
</html>
